<%= form_for @current_user.interests do |f| %>

    <div class='form_item'>
    <%= f.label :interests %>
    <%= f.text_field :item %>
    </div>

    <div class='form_item'>
      <%= f.submit %>
    </div>

<% end %>
