

<h2 class="title">Create Account</h2>

<% if @user.errors.any? %>
<div class="error_container">
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
            <li class="error_msg"><%= msg %></li>
        <% end %>
    </ol>
</div>
<% end %>


<div class="form_container">
<%= render partial: 'form' %>
</div>
