
<h1 id='hero_title'>The Butler's Pantry</h1>

<div class='user_containter'>
    <button id='new_user'>
    <%= link_to("Create New Profile", new_user_path) %>
    </button>
</div>
<div class='user_container'>
     <p id='current_user'><%= link_to 'Already a member? Sign in', login_path %>
     </p>
</div>
