

<h2>Contacts</h2>

<ul>
  <% @current_user.contacts.each do |c| %>
    <li>
      <%= link_to c.first_name, contact_path(c.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Contact", new_contact_path %>
