// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gift_suggestion {
    float: left;
    max-width: 150px;
    padding: 20px;
}
