// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero_title {
    margin-top: 8%;
}




.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome_paths {
    margin-top: 17%;
}
